---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-unchecked-optional-access,
  cert-*,
  -cert-err33-c,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  google-*,
  -google-objc-*,
  -google-readability-casting,
  -google-runtime-int,
  hicpp-*,
  -hicpp-avoid-c-arrays,
  -hicpp-avoid-goto,
  -hicpp-explicit-conversions,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-vararg,
  linuxkernel-*,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-static-accessed-through-instance
CheckOptions:
  readability-function-cognitive-complexity.Threshold: 20
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-function-size.BranchThreshold: 10
  readability-function-size.LineThreshold: 100
  readability-function-size.ParameterThreshold: 7
  readability-function-size.StatementThreshold: 60
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ConstantCase: camelBack
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MemberPrefix: ''
  readability-identifier-naming.MemberSuffix: ''
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.VariableCase: camelBack
  readability-magic-numbers.IgnoreAllFloatingPointValues: true
  readability-magic-numbers.IgnoreBitFieldsWidths: true
  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  readability-simplify-boolean-expr.ChainedConditionalAssignment: true
  readability-simplify-boolean-expr.ChainedConditionalReturn: true
UseColor: true
WarningsAsErrors: '*'
...
