.cache/
build/
document/artifact/
document/browser/
document/doxygen/
document/server/target/
report/
script/__pycache__/

*.profraw
.build_*
.run_*
core.*
document/*.css
document/*.html
document/server/Cargo.lock
vgcore.*
