*.cmake text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.html text eol=lf
*.md text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.tpp text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.1 text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf
.cloc text eol=lf
.codeql text eol=lf
.cspell text eol=lf
.css text eol=lf
.dockerignore text eol=lf
.editorconfig text eol=lf
.gdbinit text eol=lf
.gitattributes text eol=lf
.gitcommit.template text eol=lf
.gitignore text eol=lf
.pre-commit text eol=lf
.pylintrc text eol=lf
.shellcheckrc text eol=lf
.supp text eol=lf
.toml text eol=lf
.valgrindrc text eol=lf
Dockerfile text eol=lf
Doxyfile text eol=lf
LICENSE text eol=lf
