.cache/
.devcontainer/
.vscode/
__pycache__/
build/
document/artifact/
document/browser/
document/doxygen/
document/server/target/
report/

*.profraw
.build_afresh
.build_env
.build_service
.run_console_batch
.run_dict
core.*
document/*.css
document/*.html
document/server/Cargo.lock
vgcore.*
