.cache/
.devcontainer/
.vscode/
__pycache__/
build/
document/archive/
document/browser/
document/doxygen/
document/server/target/
document/*.css
document/*.html
report/
.build_env
.build_wrap
.console_batch
.run_dict
core.*
Cargo.lock
vgcore.*
*.profraw
